* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    background: url(https://themewagon.github.io/foody2/img/carousel-1.jpg) top right no-repeat ;
    background-size: cover;
}

.cabecalho .logo .logo1 {
    margin-top: 7px;
    margin-left: 25px;
    font-weight: bolder;
    font-size: 35px;
    color: #3CB815;
}

.cabecalho .logo .logo2 {
    color: #F65005;
}

.cabecalho .icones {
    margin: 12px;
    gap: 10px;
}

.icones,
.procura,
.user,
.bag {
    display: flex;
    justify-content: center;
    max-height: 10px;
    padding-right: 1px;
}

.cabecalho .selecao {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabecalho .title {
    position: absolute;
    text-align: left;
    left: 280px;
    top: 130px;
}

.cabecalho .title .contactus {
    font-weight: bold;
    font-size: 55px;
}

.cabecalho .lista {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    list-style: none;
    outline: none;
    margin-top: 12px;
}

.valor1,
.valor2,
.valor3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    padding-left: 5px;
    font-size: 16px;
}

.cabecalho .selecao .link,
.contact {
    box-sizing: border-box;
    padding: 15px 10px;
    outline: none;
    text-decoration: none;
    color: #555555;
}

.cabecalho .selecao .contact {
    font-weight: bold;
}

.cabecalho .icones .icone1,
.icone2,
.icone3 {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 25px;
    height: 25px;
    border-radius: 50% !important;
    background-color: #fff !important;
    margin-left: 1rem !important;
}

.section1 .linha1 {
    margin-top: 70px;
    border: solid #3CB815;
    border-width: 1.5px;
    position: absolute;
    width: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.section1 .linha2 {
    margin-top: 80px;
    border: solid #F65005;
    border-width: 1.5px;
    position: absolute;
    width: 85px;
    left: 50%;
    transform: translateX(-50%);
}

.section2 .seccontactus {
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
}

.section2 .sectext {
    text-align: center;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section3 {
    box-sizing: border-box;
    display: flex;
}

.section3 .formu {
    width: 71%;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 2%;
    padding: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #3CB815;
}

.section3 .formu .textwhite {
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: bolder;
}

.section3 .formu .telefone,
.cartao,
.localizacao {
    font-size: 18px;
    margin-bottom: 45px;
}

.section3 .formu .fone {
    max-height: 20px;
    margin-top: 5px;
    padding-right: 10px;
}

.section3 .formu .carta {
    max-height: 20px;
    margin-top: 5px;
    padding-right: 10px;
}

.section3 .formu .local {
    max-height: 20px;
    margin-top: 5px;
    padding-right: 10px;
}

.section3 .formu .iconsocial {
    display: flex;
}

.twitter,
.facebook,
.linkedin,
.youtube {
    max-height: 32px;
}

.section3 .formulario {
    display: flex;
    margin-top: 3%;
    margin-right: 20%;
    flex-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section3 .formulario .desc {
    margin-bottom: 1rem;
}

.section3 .formulario .desc a {
    text-decoration: none;
    color: #3CB815;
}

form,
.geralform {
    display: flex;
    flex-wrap: wrap;
}

.geralform .part1,
.part2 {
    width: 50%;
    margin-bottom: 10px;
}

.part3,
.part4 {
    width: 100%;
    margin-bottom: 10px;
}

.botao {
    width: 100%;
}

.formtype {
    position: relative;
}

.input-box {
    max-width: 100%;
}

.formtype>.form-control,
.formtype>.form-select {
    height: calc(1.5rem + 2px);
    padding: 2rem 0.75rem;
}

.form-control {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    border: 1px solid #ced4da;
    border-radius: 0;
}

.botao .botaoenviar {
    color: #fff;
    background-color: #3CB815;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border: 1px solid transparent;
    border-radius: 50rem;
    margin-top: 15px;
    font-size: 17px;
}

.container-google {
    height: 450px;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -6px;
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeIn;
}

.mapa {
    display: flex;
    width: 70%;
    padding-top: 90px;
    height: 444px;
    margin: auto;
}

.footer {
    background-color: #111;
    padding-top: 3rem;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    color: #999999;
}

.footer .contfooter {
    padding-bottom: 3rem;
    padding-top: 3rem;
    max-width: 1360px;
    margin-left: 50px;
    margin: auto;
}

.footer .contfooter .colunafooter {
    display: flex;
    flex-wrap: wrap;
}

.footer .contfooter .colunafooter p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
}

.footer .colunafooter1,
.colunafooter2, .colunafooter3, .colunafooter4 {
    flex: 0 0 auto;
    width: 25%;
    height: 250px;
    padding-right: 16px;
    padding-left: 16px;
}

.footer .colunafooter1 .logo1end {
    color: #3CB815;
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: 40px;
}

.footer .colunafooter1 .logo2end {
    color: #F65005;
}

.footer .iconsocialend {
    padding-top: 0.5rem;
    display: flex;
}

.footer .iconsocialend .socialend {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    width: 38px;
    height: 38px;
    margin-right: 0.25rem;
    border: 1px solid transparent;
    border-radius: 50%;
    border-color: #F7F8FC;
    background-color: white;
}

.footer .colunafooter2 .titlecoluna2, .titlecoluna3, .titlecoluna4 {
    color: #fff;
    font-size: 25px;
    padding-bottom: 15px;
}


.footer .colunafooter2 .fone {
    max-height: 20px;
    margin-top: 5px;
    padding-right: 10px;
}

.footer .colunafooter2 .carta {
    max-height: 15px;
    margin-top: 5px;
    padding-right: 10px;
}

.footer .colunafooter2 .local {
    max-height: 20px;
    margin-top: 5px;
    padding-right: 10px;

}

.footer .colunafooter3 {
    display: flex;
    flex-direction: column;
}

.footer .colunafooter3 .iconlateral {
    text-decoration: none;
    color: #999999;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    background-color: #111;
}

.footer .colunafooter3 .setalateral {
    max-height: 20px;
    font-weight: 400;
    padding-right: 10px;  
}

.footer .colunafooter4 .endbutton {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.footer .colunafooter4 .endinput{
    background-color: rgba(0,0,0,0);
    padding-left: 1.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #ced4da;
    width: 100%;
}

.footer .colunafooter4 .endbutton .sigbutton{
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-top: .5rem;
    right: 0;
    top: 0;
    position: absolute;
    background-color: #3CB815;
    border-color: #3CB815;
    display: inline-block;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1360px;
}

.footer .containercopyright{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
}

.footer .containercopyright .footerrow{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    justify-content: space-between;
}

.footer .containercopyright .footerrow .rowtext{
    text-align: left;
}

.footer .containercopyright .footerrow .rowtext2{
    text-align: right;
}

.footer .containercopyright a{
    color: var(--light);
    text-decoration: none;
}

.container .buttonback{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: #FFFFFF;
    width: 48px;
    height: 48px;
    right: 30px;
    bottom: 35px;
    z-index: 99;
    position: fixed;
    border-radius: 50%;
    background-color: #3CB815;
    border-color: #3CB815;
    border: 1px solid transparent;
}

.container .buttonback .iconbackbtn { 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    max-height: 20px;
    font-weight: 400;
}